body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #92e27a;
}
header{
    background-color: #f69100;
    text-align: center;
    color: white;
}
h1{
    text-align: center;
}
table{
    margin: 100px auto;
    width: 600px;
}
button{
    position: relative;
    left: 1000px;    
}
footer{
    position: relative;
    top: 250px;
    background-color: #f69100;
}
a{
    color: blueviolet;
}
a:hover{
    transition: color 0.3s ease;
    color: black;
}